.innerFormWrapper{
    width: 500px;
    margin: 0 auto;

    .label{
        width: 150px;
        display: inline-block;
        text-align: right;
        margin-right: 36px;
        font-weight: bold;
    }
    .form-field{
        padding: 10px 15px;
    }
    .form-field input, .form-field select{
        width: 220px;
        height: 25px;
        padding: 2px 5px;;
    }
    .custom-modal{
        top:100px;
        position: absolute;
        width: 500px;
        margin: 0 auto;
        background-color: #dddddd;
        padding: 15px;
        z-index: 9999;
    }
    // .modal-title{
    //     text-align: center;
    // }
    .btn-submit{
        width: 150px;
        height: 40px;
        text-align: center;   
    }
    .action-field{
        text-align: center;
    }
    .btn-submit:hover{
        background-color: #333333;
        color: #ffffff;
        cursor: pointer;
    }
    .close-icon-wrapper a{
        cursor: pointer;
    }
}
.overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  9;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}

